<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="center">
    <h1>MENU PAGE </h1><br>
    <a href="/new">ADD PRODUCT</a><br>
    <a href="/display">display all  PRODUCT</a><br>
    
</div>   
+

<div id="demo"> Here API response will come </div>

<br/><br/>

<button onclick="myAjaxFun()">My Ajax test</button>

</body>
</html>

<script type="text/javascript">
function myAjaxFun(){
	alert("Hello");
	 var xhttp = new XMLHttpRequest();
	 
	  xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
	     document.getElementById("demo").innerHTML = this.responseText;
	    }
	  };
	  
	  xhttp.open("GET", "testapi", true);
	  xhttp.send();
	}
</script>