<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>index page </h1>
<a href="/p2">next page click here </a>
<form:input path="birthday" type="date"/>

   <p>Click below button to redirect the result to new page</p>
      
      <form:form method = "GET" action = "/p2">
         <table>
            <tr>
               <td><input type="text" name="name" value="name">
                  <input type = "submit" value = "Redirect Page"/>
               </td>
            </tr>
         </table>  
      </form:form>
</body>
</html>